@model midterm_project.Models.Pet

@{
    ViewData["Title"] = "Add New Dog";
}

<div>
    <form asp-controller="Pet" asp-action="Add" method="post">

        @await Html.PartialAsync("_PetInput", Model)


        <div>
            <a class="btn btn-sm btn-light mb-3" asp-controller="Pet" asp-action="List">
                Back
            </a>
            
            <input type="submit" value="Save">
        </div>


    </form>


</div>