@model midterm_project.Models.Pet

@{
    ViewData["Title"] = "Add New Dog";
}

<div>
    <form asp-controller="Pet" asp-action="Add" method="post">
        
        @await Html.PartialAsync("_PetInput", Model)

        <input type="submit" value="Save">
    </form>


</div>