@model midterm_project.Models.Pet

@{
    ViewData["Title"] = "Edit Pet Details";
}

<div class="form-wrapper">
    <form asp-controller="Pet" asp-action="Edit" method="post">
        <h1 class="display-4 list-title col-12 text-center">Edit Pet Details</h1>

        @await Html.PartialAsync("_PetInput", Model)

        <input type="hidden" asp-for="PetId" />

        <div class="submit-wrapper">
        
            <input type="submit" class="btn btn-sm btn-primary float-end" value="Save">

        </div>

    </form>

    <a class="btn btn-sm btn-light" asp-controller="Pet" asp-action="List">Back</a>

    <a class="btn btn-sm btn-danger" asp-controller="Pet" asp-action="Delete" asp-route-id="@Model?.PetId">Delete</a>
</div>