@model IEnumerable<midterm_project.Models.Pet>

@{
    ViewData["Title"] = "Adoptable Pets";
}

<div>
    <h1>Kendall & Koda's Dog Adoptions!</h1>
    <br>
    <div>
        @foreach (var pet in Model ?? new List<Pet>())
        {
            <p>@pet.PetName</p>
            <img src="@pet.PetImgUrl"/>

            <br>

            <a class="btn" asp-controller="Pet" asp-action="Edit" asp-route-id="@pet.PetId">Edit</a>
            
        }
    </div>

        <div>
        <a class="btn" asp-controller="Pet" asp-action="Add">Create New</a>
    </div>
</div>
