html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  padding: 0px;
  margin: 3px;
}



.list-img {
  width: auto;
  height: auto;
}

.img-div {
  height: 300px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-div {
  padding: 5px;
}

/* .list-card {
  margin: 3px;
} */

.list-wrapper {
  border: 2px solid gray;
  border-radius: 3px;
  padding: 0px;
  max-width: 300px;
  margin: 5px;
}

.form-group {
  max-width: 600px;
  margin: auto;
}

.form-wrapper {
  max-width: 600px;
  margin: auto;
}

.form-input {
  max-width: 400px;
}

.detail-img {
  max-width: 100%;
  border-radius: 3px;
}

.detail-wrapper {
  max-width: 1000px;
  margin: auto;
}