html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* .card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.list-wrapper {
  border: 2px solid black;
  margin: 10px;
}

.list-img {
  width: 100%;
}