html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* .card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.list-wrapper {
  border: 2px solid black;
}

.list-img {
  width: auto;
  height: auto;
}

.img-div {
  height: 300px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}